@import "../common/highlight.css";
@import "../common/heti.css";

:root {
    --mask-width: .7rem;
    --mask-border-width: calc(var(--mask-width) / 2);
    --curve: cubic-bezier(.08, .82, .2, 1);
    --curve-out: cubic-bezier(.95, .05, .8, .04);
    --duration: .3s;
    --h-margin: 1.5rem;
    --side-width: 173px;
    --content-pd-r: calc(var(--h-margin) * 1.5);
    --content-pd-l: calc(var(--h-margin) * 2);
    --content-min-h: 100vh;
}

.text-shadow * {
    text-shadow: 0 0 1.25px #828282;
}

html {
    overflow: auto;
    font-size: 16px;
}

body {
    margin: var(--mask-width) var(--mask-width) 0 !important;
    text-rendering: optimizeSpeed;
}

header::-webkit-scrollbar {
    display: none;
}

.bg-curve-pattern {
    background-image: url(../../image/curve-pattern.png);
    background-size: 5px 8px !important;
    background-repeat: repeat;
}

.dark .bg-curve-pattern {
    background-image: url(../../image/curve-pattern-dark.png);
}

@media (min-width: 2500px) {
    :root {
        --side-width: 260px;
        --h-margin: 1.5vw;
    }

    header {
        font-size: 1.25rem
    }
}

@media (min-width: 1900px) {
    :root {
        --side-width: 200px;
        --h-margin: 1.4vw;
    }
}

@media (min-width: 1535px) {
    :root {
        --side-width: 186px;
        --h-margin: 1.6rem;
    }
}

@media (max-width: 1279px) {
    :root {
        --h-margin: 1.25rem;
        --side-width: 170px
    }
}

@media (max-width: 1023px) {
    :root {
        /*--side-width: 145px;*/
        --mask-width: .4rem;
        --h-margin: 1rem
    }
}

@media (max-width: 767px) {
    :root {
        --mask-width: 1.5vw;
        --side-width: 0px;
    }
}

.fullscreen-mode {
    --mask-width: 0px
}

::selection {
    @apply bg-default-theme-primary;
    @apply text-white;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    @apply hidden
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-default-theme-primary-500 opacity-100 !block;
}

::-webkit-scrollbar-thumb {
    @apply bg-default-theme-primary-500 rounded;
}

::-webkit-scrollbar-track {
    @apply bg-default-theme-primary;
}

.line-h {
    background-image: url(../../image/line-h.webp);
}

.line-v {
    background-image: url(../../image/line.webp);
}

@keyframes default-show-off {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        filter: none;
    }
}

@keyframes default-hide-off {
    0% {
        opacity: 1;
        filter: none;
    }

    100% {
        opacity: 0;
    }
}
